.relojAnalogico {
padding: 100px;    
background-image: url("imagen\giro.jpg"); /* no está tomando la imagen*/
width: 300px;
height: 300px;
border-radius: 300px;
background-color: #ededed;
background-size: 100%;
border: 10px solid #555;
display: flex;
}

.relojAnalogico img {
position:relative;
height: 300px;
}

.relojAnalogico #minutos {
    position: absolute;
}

.relojAnalogico #segundos {
    position: absolute;
}
