.reloj {
background-image: url("giro.jpg");
width: 300px;
height: 300px;
border-radius: 50%;
background-color: #ededed;
background-size: cover;
border: 10px solid #555;
display: flex;
}

.reloj img {
position: relative;
padding: 300px;
}

.reloj #minutos {
    position: absolute;
}

.reloj #segundos {
    position: absolute;
}
